<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    
    <%- body %>

    <%- include('../partials/footer') %>

    <a href="#" class="btn btn-primary btn-square back-to-top"><i class="fa fa-arrow-up"></i></a>

    <%- include('../partials/scripts') %>
</body>
</html>